body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%; padding: 0%;
}

#container {
    display: grid;
    grid-template-columns: repeat(2, 480px);
    grid-template-rows: repeat(2, 480px);
    

    background-color: pink;
    padding: 10px;
}

.box {
    display: flex; 
    padding: 100px;
    background-color: orange;
}

.boxhover {
    display: flex;
    background-color: yellow;
}

/* #tileButton {
    font-size: 20px;
    padding: 100px;
}
