body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0%; padding: 0%;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    gap: 5px;
}

#box {
    display: flex;
    background-color: black;
    padding: 50px;
}